<%- include('headers') %>

<div class="box" id="heading">
	<h1>About age</h1>
</div>
<div class="box">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Non atque, omnis
		repellendus amet sequi aperiam aspernatur dicta molestias fugit similique
		quaerat facere? Corrupti tempore, adipisci laudantium nam sint inventore
		praesentium.
	</p>
</div>

<%- include('footers') %>
